<!-- adding logo -->
<!-- <link rel="shortcut icon" href=""> -->
<!-- <div class="fb-customerchat" page_id="485467145307980">
</div>
<div style="bottom:24px; left:0;"> -->
<app-navigation></app-navigation>
<router-outlet></router-outlet>
<app-about></app-about>
<!-- </div> -->
<!-- <div *ngIf="!loggedIn">
  <app-abbr></app-abbr>
  <app-about></app-about>
</div>
<app-login *ngIf="loggedIn"></app-login> -->
<!-- adding logo -->
<!-- <link rel="shortcut icon" href=""> -->
<!-- <app-navigation></app-navigation>
<router-outlet></router-outlet>
<app-about></app-about> -->
<!-- <div *ngIf="!loggedIn">  
  <app-abbr></app-abbr>
  <app-about></app-about>
</div>
<app-login *ngIf="loggedIn"></app-login> -->